<a href="#" class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn" data-wishList data-added="false" data-proID="{{ product.id }}" data-varID="{{ product.selected_or_first_available_variant.id }}"><span></span><span class="count"></span></a>
 